@import "variables";
@import "nav";
@import "formulario";


@function color($color-name){
	@return map-get($colors, $color-name)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

@font-face {
	font-family: "Open Serif";
	src: url("../fonts/OpenSerif-Book.ttf");
}

* {
	font-family: "Open Serif";
}

main {
	display: block;
	color: color(blanco)
}
.main {
	background-color:color(negro);
	h1 {
		font-size: 80px;
		text-align: center;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		padding-bottom: 50px;
	}
	p {
		font-size: 18px;
		text-align: center;
		padding: 20px;
		padding-bottom: 50px;
	
	}
}



body {
	width: 100%;
	overflow-x: hidden;
	display: flex;
	min-height: 100%;
	flex-direction: column;


}

html {
	height: 100%;
}
.carousel{height: 620px;
	overflow: hidden;
	margin-bottom: 00px;}


.imgPaleta {
	height: 320px;
	overflow: hidden;
	margin-bottom: 00px;

}

.imgPaleta img {
	background-image: "https://media.babolat.com//image/upload/f_auto,q_auto,f_auto,q_auto,c_crop,w_2000,h_751/Website_content/Padel_News/02092020-Launch/padel-equipment/equipment-banner-2.jpg";
	width: 100%;
	height: auto;
	padding-bottom: 0px;
}
.predio {
	display: flex;
	justify-content: space-around;
	background-color: rgb(11, 11, 11);
	flex-wrap: wrap;
}
.predio img {
	width: 50%;
	height: auto;
}

.predio p {
	width: 50%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	padding: 50px;
}

.fotoPredio {
	vertical-align: top;
}

.footer {
	display: flex;
	height: 100px;
	background-color: rgb(227, 234, 236);
	justify-content: space-around;
	padding-top: 50px;
	width: 100%;
	bottom: 00;
	margin-top: auto;
}
.colorFooter{color:$negro}
.sobreNosotros {
	background-color: $negro
}

.fotosSobreNosotros {
	display: flex;
}

.sn1 {
	max-width: 33%;
	height: auto;
}

.sn2 {
	@extend .sn1;
}

.sn3 {
	@extend .sn1;
}

* {
	box-sizing: border-box;
}

/*Es un menú mobile first porque esta query sólo se aplica cuando el ancho de la pantalla es MAYOR a 768px*/
@media screen and (min-width: 768px) {
	.boton-menu {
		display: none;
	}

	.barra-navegacion .lista-menu {
		display: block;
	}

	.item-menu {
		list-style: none;
		display: inline-block;
		line-height: 8vh;
		margin: 0 0.5em;
		padding: 0 5px;
		border-bottom: 0px;
	}

}

@media screen and (min-width: 768px) {
	.navBackground ul {
		align-items: center;
	}
	header ul li a {
		color: aliceblue;
	}
	.imgPaleta {
		height: 60vh;
		overflow: hidden;
		margin-bottom: 00px;

	}

	.predio {
		display: flex;
		justify-content: space-around;
		background-color: rgb(11, 11, 11);

	}

	.predio img {
		width: 50%;
		height: auto;
	}

	.predio p {
		width: 50%;
		height: auto;
		vertical-align: middle;
		text-align: center;
		margin: auto;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.5;
		padding: 50px;
	}
}

/* SEDES*/

.bodySedes {
	display: grid;
	min-height: 100%;
	background-color: $negro;
}
.sedes {
	box-sizing: border-box;
	display: grid;
	grid-template-areas: "fotoSede fotoSede"
		"sede1 sede2"
		"sede3 sede4"
		"sede5 sede6";
	grid-template-columns: 50% 50%;
	grid-template-rows: 320px 1fr 1fr 1fr;
	height: 100vh;
	margin-bottom: 700px;
	.fotoSede {
		grid-area: fotoSede;
		height: 320px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 200px;
		position: relative;
		display: inline-block;
    	text-align: center;
	}
		.textoSede{position: absolute;
		top: 50%;
		left: 45%;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 50px;
		font-weight: bold;
		color:#fff;
		font-style: oblique;
	}
		.imagenSede {
		width: 100%;
		filter: brightness(0.3);
	}
	.sede1 {
		grid-area: sede1;
		height: 220px;
		width: 100%;
		overflow: hidden;
		margin-top: 100px;
		margin-bottom: 50px;
		margin-left: 50px;
		display: block;
		h2 {
			vertical-align: bottom;
			color: white;
		}

		.imgSede1 {
			@include imgSedes;
		}
	}
	.sede2 {
		grid-area: sede2;
		height: 220px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 50px;
		margin-top: 100px;
		margin-left: 50px;
		.imgSede2 {
			@include imgSedes;
		}
		h2 {
			vertical-align: bottom;
			color: aliceblue;
		}
	}
	.sede3 {
		grid-area: sede3;
		height: 220px;
		width: 100%;
		overflow: hidden;
		margin-top: 30px;
		margin-bottom: 100px;
		margin-left: 50px;
		.imgSede3 {
			@include imgSedes;
		}

		h2 {
		vertical-align: bottom;
		color: aliceblue;}
		
	
	}
	.sede4 {
		grid-area: sede4;
		height: 220px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 50px;
		margin-top: 30px;
		margin-left: 50px;
		h2 {
		vertical-align: bottom;
		color: aliceblue;
	}
		.imgSede4 {
			@include imgSedes;
	}
	}
	.sede5 {
		grid-area: sede5;
		height: 220px;
		width: 100%;
		overflow: hidden;
		margin-top: 30px;
		margin-bottom: 20px;
		margin-left: 50px;
		h2 {
		vertical-align: bottom;
		color: aliceblue;
		}
		.imgSede5 {
			@include imgSedes;
		}
	}
	.sede6 {
		grid-area: sede6;
		height: 220px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 50px;
		margin-top: 30px;
		background-color: #000;
		margin-left: 50px;
		.imgSede6 {
			@include imgSedes;
		}
		h2 {
			vertical-align: bottom;
			color: aliceblue;
		}
	}
	
}

@media screen and (min-width: 768px) {

	.sedes {
		box-sizing: border-box;
		display: grid;
		grid-template-areas: "fotoSede fotoSede fotoSede"
			"sede1 sede2 sede3"
			"sede4 sede5 sede6";

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 320px 1fr 1fr;
		height: 100vh;
		.sede3 {
			margin-top: 100px;
			margin-left: 50px;
		}
	}

	

	.sede1 {
		margin-left: 100px;
	}

	.sede5 {
		margin-left: 50px;
	}

}

/*CONSTRUCCION CANCHAS*/

.constr img {
	height: 600px;
	width: 100%;
	overflow: hidden;
}

.bodyConst {
	background-color:$negro;
}
.proyectos {
	box-sizing: border-box;
	display: grid;
	grid-template-areas: "proy1 proy2"
		"proy3 proy4"
		"proy5 proy6"
	;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 1fr 1fr;
	height: 100vh;
}

.imgConstr{position: relative;
	display: inline-block;
    text-align: center;
width: 100%;
display: flex;}

.textoConstr{position: absolute;
    top: 50%;
    left: 30%;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	color:#fff;
	font-style: oblique;
}

.mejores{margin-top: 50px;
text-align: center;
font-style:unset;
text-decoration: underline;}

.proy1 {
	grid-area: proy1;
}
.proy2 {
	grid-area: proy2;
}

.proy3 {
	grid-area: proy3;
}

.proy4 {
	grid-area: proy4;
}

.proy5 {
	grid-area: proy5;
}

.proy6 {
	grid-area: proy6;
}

.proy1 {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 20px;
	background-color: #000;
	margin-left: 20px;
	display: block;
}
.imgProy1 {
	width: 40vh;
	height: 80%;
	justify-content: center;
}

.proy1 h2 {
	vertical-align: bottom;
	color: white;
}

.proy2 {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 100px;
	background-color: #000;
	margin-left: 50px;
}

.imgProy2 {
	width: 40vh;
	height: 80%;
	justify-content: center;
}

.proy2 h2 {
	vertical-align: bottom;
	color: aliceblue;
}

.proy3 {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #000;
	margin-left: 20px;
}

.imgProy3 {
	width: 40vh;
	height: 75%;
	justify-content: center;
}

.proy3 h2 {
	vertical-align: bottom;
	color: aliceblue;
}

.proy4 {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 30px;
	background-color: #000;
	margin-left: 50px;
}

.imgProy4 {
	width: 40vh;
	height: 80%;
	justify-content: center;
}

.proy4 h2 {
	vertical-align: bottom;
	color: aliceblue;
}

.proy5 {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #000;
	margin-left: 20px;
}

.proy5 h2 {
	vertical-align: bottom;
	color: aliceblue;
}

.imgProy5 {
	width: 40vh;
	height: 80%;
	justify-content: center;
}

.proy6 {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 30px;
	background-color: #000;
	margin-left: 50px;
}

.imgProy6 {
	width: 40vh;
	height: 80%;
	justify-content: center;
}

.proy6 h2 {
	vertical-align: bottom;
	color: aliceblue;
}

.footerConst {
	display: flex;
	height: 100px;
	background-color: rgb(227, 234, 236);
	justify-content: space-around;
	padding-top: 50px;
	width: 100%;
	bottom: 00;
	margin-top: 500px;
}

.abajo{
	
	margin-top: 500px;}

@media screen and (min-width: 768px) {

	.proyectos {
		box-sizing: border-box;
		display: grid;
		grid-template-areas:
			"proy1 proy2 proy3"
			"proy4 proy5 proy6";

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: 100vh;
	}

	.proy3 {
		margin-top: 100px;
		margin-left: 50px;
	}

	.proy1 {
		margin-left: 50px;
	}

	.proy5 {
		margin-left: 50px;
	}

}

